@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,.4), rgba(0,0,0,.2)), url(rickroll.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 400px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 20px;
}

.log-head {
    text-align: center;
}

.log-head h1 {
    font-size: 40px;
}

.input-box {
    padding: 20px 0;
    border-bottom: 2px solid rgba(0,0,0);
}

.input-box input {
    width: 90%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    position: relative;
    box-shadow: -2px -2px 2px rgba(255,255,255,.2),
                4px 4px 4px rgba(0,0,0,.1),
                inset -2px -2px 2px rgba(255,255,255,.2),
                inset 4px 4px 4px rgba(0,0,0,.1);
}

.input-box input::placeholder {
    font-size: 15px;
    position: absolute;
    left: 20px;
}

.input-box select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: -2px -2px 2px rgba(255,255,255,.2),
                4px 4px 4px rgba(0,0,0,.1),
                inset -2px -2px 2px rgba(255,255,255,.2),
                inset 4px 4px 4px rgba(0,0,0,.1);
}

.input-box label {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}

.btn {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.btn button {
    background: transparent;
    margin-top: 20px;
    padding: 10px 20px;
    color: #FFBA00;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #FFBA00;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: inset 4px 4px 4px rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
}


.btn button:hover {
    color: #fff;
    background: #FFBA00;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.chat-container {
    width: 900px;
    background: rgba(0,0,0,.5);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border: none;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.chat-header h1 {
    margin-left: 25px;
}

.chat-header a{
    width: 40px;
    height: 40px;
    margin-right: 25px;
    color: #FFBA00;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #FFBA00;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.chat-header a:hover {
    color: #fff;
    background: #FFBA00;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.chat-input {
    height: 80px;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.chat-input input{
    margin-top: 20px;
    padding: 10px 20px;
    width: 85%;
    border-radius: 20px;
    border: none;
    outline: none;
    position: relative;
    box-shadow: -2px -2px 2px rgba(255,255,255,.2),
                4px 4px 4px rgba(0,0,0,.1),
                inset -2px -2px 2px rgba(255,255,255,.2),
                inset 4px 4px 4px rgba(0,0,0,.1);
}

.chat-input input::placeholder {
    font-size: 15px;
}

.chat-input button {
    margin-left: 5px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: #FFBA00;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #FFBA00;
    cursor: pointer;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.1);
}

.chat-input button:hover {
    color: #fff;
    background: #FFBA00;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
    height: 400px;
    max-height: 400px;
}

.chat-sidebar {
    border-right: 3px solid #fff;
    padding: 20px 20px 60px;
}

.chat-sidebar h3 {
    text-align: center;
    font-size: 20px;
    background: rgba(0,0,0,.5);
    padding: 10px 0;
    color: #fff;
}

.chat-sidebar h2 {
    color: #fff;
	font-size: 18px;
	padding: 10 0px;
	margin-bottom: 20px;
}

.chat-sidebar ul {
    position: absolute;
}

.chat-sidebar ul li {
    color: #fff;
    font-weight: bold;
    position: relative;
    right: 60%;
    bottom: 15px;
}

.chat-message {
    padding: 20px;
    overflow-y: scroll;
}

.chat-message .message {
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px 10px;
}

.message .meta {
    font-size: 15px;
	font-weight: bold;
	color: #FFBA00;
	margin-bottom: 7px;
}

.message .meta span {
    font-weight: 400;
    color: #fff;
}

.message .text {
    font-size: 14px;
    color: #e4e4e4;
}

@media screen and (max-width: 600px){
    .chat-input input {
        width: 70%;
    }

    .chat-sidebar{
        padding: 10px 10px 30px;
    }
    .chat-sidebar h3 {
        font-size: 15px;
    }
    .chat-sidebar h2 {
        font-size: 15px;
    }
    body {
        background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,.4), rgba(0,0,0,.2)), url(rickroll-res.png);
    }
}